/* Common CSS */

body {
    font-family: 'Poppins', sans-serif;
}

/* Home styles start here  */

.typing {
    border-right: .1em solid #fff;
    white-space: nowrap;
    overflow: hidden;
}


/* Resume styles start here */

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.hidden {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 70%; /* Position the tooltip to the right of the text */
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover i {
    color: #22c55e;
}

/* Resume styles end here */


